body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #0D0F15;
}

.linha {
  width: 1440px;
  height: 3px;
  background-color: white;
  margin: 50px auto 0;
}

.linhas {
  margin: auto 0;
}

.introducao-bg {
  padding: 0;
}

.introducao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
}

.introducao-conteudo {
  max-width: 600px;
}

.introducao-conteudo h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.introducao-conteudo p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.botao {
  display: inline-block;
  padding: 12px 24px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.botao:hover {
  background-color: #333;
}

.imagens {
  flex: 1;
  position: relative;
}

.imagens img {
  border-radius: 5px;
  border-right: auto;
  -radius: 8px;
  position: absolute;
}

.imagem1 {
  top: -350px;
  left: 0;
  width: 80%;
  z-index: 2;
}

.imagem2 {
  top: -354px;
  left: -51px;
  width: 83%;
  z-index: 1;
  opacity: 0.5;
  transform: scale(1.05);
}

@media (max-width: 779px) {
  .introducao-imagem img {
    display: none;
  }

  .introducao-conteudo h1 {
    font-size: 2rem;
    margin: 0 1px 1px 1px;
  }

  .introducao-bg {
    padding: 0;
    margin: 10px 20px 1px 20px;
  }

  .introducao-conteudo p {
    font-size: 1rem;
  }

  .botao {
    font-size: 0.9rem;
    padding: 10px 20px;
  }

  .carrossel {
    width: 700px;
    height: 300px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .introducao-01 {
    flex-direction: column;
    text-align: center;
  }

  .introducao-conteudo {
    margin-bottom: 40px;
  }
}
