.introducao-bg {
  padding: 0px 0;
}

.introducao.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.introducao-conteudo {
  flex: 1;
  max-width: 600px;
}

.introducao-imagem {
  flex: 1;
  max-width: 50%;
}

.introducao-imagem img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.linha-01 {
  height: 2px;
  background-color: #333;
  margin: 40px 0;
}

.botao {
  display: inline-block;
  padding: 12px 24px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  margin-top: 20px;
  border: 2px solid #fff;
  transition: all 0.3s ease;
}

.botao:hover {
  color: black;
  background-color: white;
  border-color: black;
}

@media (max-width: 1000px) {
  .introducao.container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .introducao-imagem {
    max-width: 100%;
    margin-top: 20px;
  }
}
